<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>

    .container {
        margin: 0px;
        width: 1000px;
        height:700px;
        background-color:lightblue;
    }

    table td {
        padding: 2px;
        border: 1px solid black;
        border-spacing: 1px solid black;
    }

</style>

<body>

    <div class="container">

    <h6> <a href="reset">Logout</a></h6>

    Hello, {{request.session.name}}<br><br>

    Your saved jobs:

    <table>
        <thead>
            <td>Job Added By</td>
            <td>Company Name</td>
            <td>Location</td>
            <td>Job Desc</td>
            <td>Job Tech</td>
            <td>POC Name</td>
            <td>POC Email</td>
            <td>Action</td>
        </thead>
        {% for job in jobs %}
            {% ifequal request.session.id job.added_by_id %}    
            <tr>
                <td>{{job.added_by.name}} </td>
                <td><a href="http://www.{{job.comp_name}}.com">{{job.comp_name}}</a></td>
                <td>
                    <a href="https://www.google.com/maps/place/{{job.comp_loc}}">{{job.comp_loc}}</a>
                </td>
                <td>
                <a href="/dashboard/job/{{job.id}}"> {{job.job_desc}}</a>
                </td>
                <td>{{job.job_tech}}</td>
                <td>{{job.POC_name}}</td>
                <td>{{job.POC_email}}</td>
                <td> <a href="/RemoveFromSavedlist/{{job.id}}"> Remove from my Joblist</a>
                </td>                    
    
            {% endifequal %}
            </tr>
        {% endfor %}

        {% for savedjob in savedjobs %}
            <tr>
                <td>{{savedjob.job.added_by.name}} </td>
                <td><a href="http://www.{{savedjob.job.comp_name}}.com">{{savedjob.job.comp_name}}</a></td>
                <td>
                    <a href="https://www.google.com/maps/place/{{savedjob.job.comp_loc}}">{{savedjob.job.comp_loc}}</a>
                </td>
                <td> <a href="/dashboard/job/{{savedjob.job.id}}">{{savedjob.job.job_desc}}</a></td>
                <td>{{savedjob.job.job_tech}}</td>
                <td>{{savedjob.job.POC_name}}</td>
                <td>{{savedjob.job.POC_email}}</td>
                <td> test:
                    <a href="/RemoveFromSavedlist/{{savedjob.id}}"> Remove from my Joblist</a>

                    {% ifequal savedjob.job.added_by.name request.session.name %}
                        This one is mine!! DELETE
                    {% endifequal %}

                </td>
    
            </tr>
        {% endfor %}

    </table>

    <br>
    <h3><a href="/mysavedjobs">Go to my Saved Jobs</a></h3>

    <h3>Job Postings</h3>
    <table>
            <thead>
                <td>Job Added By</td>
                <td>Company Name</td>
                <td>Location</td>
                <td>Job Description</td>
                <td>Job Tech</td>
                <td>POC Name</td>
                <td>POC Email</td>
                <td>Show more details</td>
                <td>Save the job?</td>
            </thead>
            
            {% for job in jobs %}
            <tr>
                    <td>{{job.added_by.name}} </td>
                    <td><a href="http://www.{{job.comp_name}}.com">{{job.comp_name}}</a></td>
                    <td>
                        <a href="https://www.google.com/maps/place/{{job.comp_loc}}">{{job.comp_loc}}</a>
                    </td>
                    <td>{{job.job_desc}}</td>
                    <td>{{job.job_tech}}</td>
                    <td>{{job.POC_name}}</td>
                    <td>{{job.POC_email}}</td>
                    <td> <a href="/dashboard/job/{{job.id}}">
                    {{job.id}}</a></td>                    
                    <td><a href="/save/{{job.id}}"> Save Job</a></td>
            </tr>
        
            {% endfor %}
        </table>
        <br><br><br>
    <a href="/dashboard/add">Add Job</a>

</div>

</body>
</html>